.login {
  font-size: 28px;
}

.login__form {
  margin: 0 auto;
  width: 716px;
  height: 684px;
  background-image: url("../../img/rachel-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.login__fieldset {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  padding-left: 320px;
  max-width: 250px;
  gap: 40px;
}

.login__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #ffc100;
  text-shadow: 5px 3px 1px black;
}

.login__input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 3px 1px black;
  font-size: 18px;
}

.login__button {
  transform: translate(450px, 20px);
}