<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Просмотр анкет</title>
  <link rel="stylesheet" href="../../public/styles/style.css">
</head>
<body>
  <header class="header section">
    <div class="container header__container">
      <img class="logo" src="../../public/img/logo.png" alt="Логотип сайта">
    </div>
  </header>

  <main class="get section">
    <div class="container get__container">
     <article class="get__profile">
      имя фамилия
     </article>

     <form class="get__form">
      <fieldset class="get__fieldset">
        <select class="get__select" name="field">
          <option value="field1">поле 1</option>
          <option value="field2">поле 2</option>
        </select>

        <input class="get__input" type="text">
      </fieldset>
     </form>

     <div class="get__cards">
      <div class="get__card">анкета 1</div>
      <div class="get__card">анкета 11</div>
      <div class="get__card">анкета 111</div>
      <div class="get__card">анкета 1111</div>
     </div>
    </div>
  </main>

  <footer class="footer section">
    <div class="container">
      by winx club 2022
    </div>
  </footer>
</body>
</html>