<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход в анкету</title>
  <link rel="stylesheet" href="../public/styles/style.css">
</head>

<body>
  <div id="app">
    <header class="header section">
      <div class="container header__container">
        <img class="logo" src="../public/img/logo.png" alt="Логотип сайта">
      </div>
    </header>

    <article class="login section">
      <div class="container">
        <form class="login__form">
          <fieldset class="login__fieldset">
            <label class="login__label">
              login
              <input class="login__input" type="text" required v-model="login">
            </label>
            <label class="login__label">
              password
              <input class="login__input" type="password" required v-model="password">
            </label>
          </fieldset>
          <button class="button button_submit login__button" type="submit" formaction="views/edit.html"></button>
        </form>
      </div>
    </article>

    <footer class="footer section">
      <div class="container">
        by winx club 2022
      </div>
    </footer>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let app = Vue.createApp({
      data() {
        return {
          login: '',
          password: ''
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>