.friends {
  margin-bottom: 50px;
}

.friends__container {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  gap: 30px;
}

.friends__wrapper {
  align-self: flex-end;
  width: 400px;
  height: 50px;
}

.friends__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  font-size: 32px;
  color: #ffc100;
  text-shadow: 2px 3px 1px black;
}

.friends__form {
  font-family: Tahoma, sans-serif;
}

.friends__fieldset {
  padding: 0;
}

.friends__select {
  width: 300px;
  margin-right: 100px;
  text-align: center;
}

.friends__input {
  width: 500px;
}

.friends__select,
.friends__input {
  padding: 10px;
  height: 50px;
  border-radius: 10px;
}

.friends__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 230px);
  gap: 20px 50px;
}

.friends__card {
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ffc400;
  font-size: 60px;
  color: #b096ff;
  text-shadow: 2px 3px 1px #8262ff;
}